{% load static %}
<header class="header">
    <img class="logo" alt="Boston Payroll Logo" src="{% static 'images/logo.jpg' %}">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#">Home</a></li>
            <li><a class="main-nav-link" href="#">About us</a></li>
            <li><a class="main-nav-link" href="#">Services</a></li>
            <li><a class="main-nav-link" href="#">Blogs</a></li>
            <li><a class="main-nav-link nav-cta" href="#">Contact us</a></li>
        </ul>
    </nav>
    <button class="nav-toggle" aria-label="Toggle Navigation">
        ☰
    </button>
</header>
